body{
color White;
  background: black
  margin:Opx;
}

header{
   border-bottom:solid 2px #15a5e3;
  padding: 20px;
  front-size:50px
  color:#45ffo;
}

setion{
   background:#0628e9;
  padding-bottom
  padding-top:80
  display:flex;
  justi)
